*{
    padding: 0px;
    margin: 0px;
    font-family: font-family: 'Open Sans', sans-serif;
}
        /* home  Navbar*/

ul{
    list-style: none;
    float: right;
    margin-top: 20px;
    padding: 10px;

}
ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;

}
ul li a{
    color: coral;
    padding: 20px;
    border: 3px solid transparent;

}
.logo img{
    float: left;
    height: 100px;
    width: 250px;
    margin-top: 30px;

}
a{
    text-decoration: none;
    font-size: 20px;
    
}
ul li a:hover{
    color:coral;
    border:3px coral solid;
    background-color: transparent;
    text-decoration: none;

}
ul li.active a{
    border: coral;
    border: 3px solid coral

}
.title h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 50px;
    

}
.title h3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 6vh;
    color: #fff;
    background-color: rgb(39, 196, 207);
    width: 15%;
    font-size: 30px;
    border-style: none;
    border-radius: 0.5rem;
    
}

.btn a{
  color: #fff;
  text-decoration: none;
}
.main{
    max-width: 70%;
    margin: auto;
    
}
  /*footer starts here*/

.row{
    background-color: rgb(49, 4, 4);
    color: #fff;
    text-align: center;
    padding: 20px;
    width:100%;
    height: 8vh;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}
 /* footer-social icons*/

 .fab{
    color: rgb(21, 234, 241);
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: center;
}
 /*footer ends here*/


    /*starter up content starts here*/
.container{
    max-width: 100%;
    display: flex;
    align-items: left;
}
.col-md-2 img{
    width: 100px;
    height: 10vh;
    float: left;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid rgb(223, 217, 217);
}
.col-md-6{
    width: 50%;

}
.col-md-6 a {
font-size: 25px;

}
.col-md-6 a:hover{
    color: rgb(253, 38, 0);
    transition: 0.2s ease;
}
.col-md-6 p{
    font-size: 15px;
}

col-md-6 hr{
    height: 1px;
    width: 100%; 
}
.container .row-search input{
width: 1200px;
    align-content: center;
    margin-top: 30px;
    height: 4vh;
    border-radius: 10px;
    color: aliceblue;

}
.fas{
    position: absolute;
    top: 199px;
    right: 250px;
    background-color: cornflowerblue;
    width: 5vw;
    height: 4vh;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color: white;
    float: inline-end;
    border: 1px solid grey;
    border-radius: right: 15px;
}
.row-search input{
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}
button{
    width: 30%;
    height: 4vh;
    color: rgb(15, 9, 9);
   background-color: whitesmoke;
   border-radius: 5px;

   
}
section{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}
section h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
form{
  
    width: 50%;
 margin-left: 500px;
 margin-right: 100px;
}
input{
   margin: 20px;
}
label{
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: 15px;
}
.login {
    width: 6%;
    height:5vh;
    background-color: rgb(47, 86, 192);
    color: #fff;
    font-size: 20px;
    margin-left: 520px;
    border: none;
    margin-bottom: 200px;
}
#sign-up{
    background-color: none;
    width: 10%;
    margin-left: 520px;
    margin-bottom: 150px;

}
.logg{
    padding-bottom: 100px;
    background-color: rgb(61, 4, 4);
    margin: bottom 30px;
    height: 13vh;

}

header{
    background-image:linear-gradient(rgba(78, 9, 9, 0.5), rgba(85, 12, 12, 0.5)) ,url('../images/office.jpg');
    
      height: 100vh;
      background-size: cover;
      background-position: center;
  }

/*startup details section content starts here*/

 .col-md-12-top{
     background-color: rgb(247, 246, 244);
     height: 10vh;
     width: 1200px;
     margin-top: 100px;
     border: 1px solid grey;
     border-radius: 5px 5px 0px 0px;
     text-align: left;
     font-size: 40px;
     padding-top: 30px;
     padding-left: 10px;
     
 }
.col-md-12-down{
    height: 50vh;
    width: 1200px;
    border: 1px solid rgb(177, 176, 176);
    border-top: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.col-md-8 p{
font-size: 17px;
width: fit-content;
margin-left: 20px;
padding: 10px;
}
.social-icons .fab{
    color: black;
    display: flex;
    margin: 0;
    padding: 10px;
    font-size: 30px;
    padding-right: 10px;
}
.row-details0{
    background-color:none;
    width: 1200px;
    height: 10vh;
    border: 1px solid grey;
    border-radius: 5px ;
    display: flex;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.col-md-6-last{
    font-size: 20px;
    margin-bottom: 100px;
    padding:20px;

}
.far{
    font-size: 40px;
    padding: 20px;
}
.col-md-5-left{
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
}
..col-md-6-right{
    position: absolute;
    top: 200px;
}
